package pages

import "main/templates/components"

templ IndexPage () {
	<!DOCTYPE html>
	<html lang="en">
		@components.HeadBase("Home") {
			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		}

		<body>
			<div class="card w-96 bg-base-100 shadow-xl">
				@components.LoginForm(components.LoginFormData{})
			</div>
		</body>
	</html>
}
